<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息查询网</title>
    <script type="text/javascript" src="/static/common/jquery-1.11.1.min.js"></script>
    <!--<link type="text/css" rel="stylesheet" href="/static/common/bootstrap.min.css">-->
    <script type="text/javascript" src="/static/common/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/css/index.css">
    <script type="text/javascript" src="/static/js/login.js"></script>
</head>
<body style="background: #63B8FF">
<div class="nav">
    <ul class="clearfix">
        <li><a>注册</a></li>
        <li class="login"><a>登录</a></li>
    </ul>
</div>
<div class="controller">
    <div class="content">
        <div class="center">
            <p>用户名</p>
            <div>
                <input type="text" name="username">
            </div>
        </div>
        <div class="center">
            <p>密码</p>
            <div>
                <input type="text" name="password">
            </div>
        </div>
        <div class="login">
            <p>登录</p>
        </div>
        <div class="footer">
            <ul class="clearfix">
                <li style="float: left;"><a href="/register">注册</a></li>
                <li style="float: right;"><a>～忘记密码</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>